@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/* line 3, stdin */
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 7, stdin */
html body {
  font-family: 'Open Sans', sans-serif;
  background: url(../images/bg.jpg) no-repeat;
  background-size: cover;
  background-position: top;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* line 16, stdin */
html body #wrapper {
  min-height: 100%;
}

/* line 18, stdin */
html body #wrapper #page {
  margin: 0 auto;
  width: 960px;
  /*min-width: 600px;*/
}

@media only all and (max-width: 959px) {
  /* line 18, stdin */
  html body #wrapper #page {
    width: 100%;
  }
}

/* line 25, stdin */
html body #wrapper #page .row {
  clear: both;
}

/* line 28, stdin */
html body #wrapper #page #header {
  margin-top: 77px;
}

/* line 30, stdin */
html body #wrapper #page #header #logo {
  min-width: 505px;
  height: 112px;
}

/* line 34, stdin */
html body #wrapper #page #header #logo #logo1,
html body #wrapper #page #header #logo #logo2 {
  float: left;
  padding: 0;
}

/* line 38, stdin */
html body #wrapper #page #header #logo #logo2 {
  margin: 10px 0 0 25px;
}

/* line 44, stdin */
html body #wrapper #page #content #video, html body #wrapper #page #content #text {
  width: 480px;
  float: left;
}

@media only all and (max-width: 959px) {
  /* line 44, stdin */
  html body #wrapper #page #content #video, html body #wrapper #page #content #text {
    width: 100%;
    float: none;
  }
}

/* line 53, stdin */
html body #wrapper #page #content #video iframe {
  width: 98%;
  height: 346px;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 10px;
}

@media only all and (min-width: 959px) {
  /* line 53, stdin */
  html body #wrapper #page #content #video iframe {
    width: 440px;
    height: 246px;
    padding-left: 2px;
  }
}

/* line 70, stdin */
html body #wrapper #page #content #text h1,
html body #wrapper #page #content #text .one,
html body #wrapper #page #content #text .two,
html body #wrapper #page #content #text .three {
  margin-left: 25px;
}

@media only all and (max-width: 959px) {
  /* line 70, stdin */
  html body #wrapper #page #content #text h1,
  html body #wrapper #page #content #text .one,
  html body #wrapper #page #content #text .two,
  html body #wrapper #page #content #text .three {
    margin-right: 1%;
    margin-left: 1%;
  }
}

/* line 78, stdin */
html body #wrapper #page #content #text .two {
  padding-top: 10px;
}

/* line 81, stdin */
html body #wrapper #page #content #text .three {
  padding-top: 5px;
}

/* line 86, stdin */
html body #wrapper #page #vision_logo {
  padding: 37px 0 9px 3px;
}

/* line 89, stdin */
html body #wrapper #page #social {
  padding: 44px 0 10px 0px;
  padding-top: 44px;
}

@media only all and (max-width: 959px) {
  /* line 89, stdin */
  html body #wrapper #page #social {
    width: 98%;
    padding-right: 1%;
    padding-left: 1%;
  }
}

/* line 98, stdin */
html body #wrapper #page #social .social_tw,
html body #wrapper #page #social .social_fb {
  width: 32px;
  height: 32px;
}

/* line 102, stdin */
html body #wrapper #page #social .social_fb {
  padding-left: 2px;
}

/* line 111, stdin */
html h1,
html h2,
html p {
  text-align: left;
  margin-bottom: 0;
}

/* line 115, stdin */
html h1 {
  color: #ffffff;
  font-size: 1.250em;
  /* Приближение из-за подстановки шрифтов */
  margin: 0;
  font-weight: 600;
}

/* line 122, stdin */
html h2 {
  color: #2e2e2e;
  font-size: 1.125em;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  line-height: 33px;
  /* Приближение из-за подстановки шрифтов */
}

/* line 130, stdin */
html p {
  color: #2e2e2e;
  font-size: 0.875em;
  /* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  margin: 0;
  line-height: 17px;
}
