@import "variables";
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html {
    height: 100%;
    margin: 0;
    padding: 0;
    body {
        font-family: 'Open Sans', sans-serif;
        background: url(../images/bg.jpg) no-repeat;
        background-size: cover;
        background-position: top;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        #wrapper {
            min-height: 100%;
            #page {
                margin: 0 auto;
                width: 960px;
                /*min-width: 600px;*/
                @media only all and (max-width: $md) {
                    width: 100%;
                }
                .row {
                    clear: both;
                }
                #header {
                    margin-top: 77px;
                    #logo {
                        min-width: 505px;
                        height: 112px;
                        #logo1,
                        #logo2 {
                            float: left;
                            padding: 0;
                        }
                        #logo2 {
                            margin: 10px 0 0 25px;
                        }
                    }
                }
                #content {
                    #video, #text {
                        width: 480px;
                        float: left;
                        @media only all and (max-width: $md) {
                            width: 100%;
                            float: none;
                        }
                    }
                    #video {
                        iframe {
                            width: 98%;
                            height: 346px;
                            margin-right: 1%;
                            margin-left: 1%;
                            @media only all and (min-width: $md) {
                                width: 440px;
                                height: 246px;
                                padding-left: 2px;
                            }
                            margin-top: 10px;
                        }
                    }
                    #text {
                        h1,
                        .one,
                        .two,
                        .three {
                            margin-left: 25px;
                            @media only all and (max-width: $md) {
                                margin-right: 1%;
                                margin-left: 1%;
                            }
                        }
                        .one {}
                        .two {
                            padding-top: 10px;
                        }
                        .three {
                            padding-top: 5px;
                        }
                    }
                }
                #vision_logo {
                    padding: 37px 0 9px 3px;
                }
                #social {
                    padding: 44px 0 10px 0px;
                    padding-top: 44px;
                    @media only all and (max-width: $md) {
                        width: 98%;
                        padding-right: 1%;
                        padding-left: 1%;
                    }
                    .social_tw,
                    .social_fb {
                        width: 32px;
                        height: 32px;
                    }
                    .social_fb {
                        padding-left: 2px;
                    }
                }
            }
        }
    }
    h1,
    h2,
    p {
        text-align: left;
        margin-bottom: 0;
    }
    h1 {
        color: #ffffff;
        font-size: 1.250em;
        /* Приближение из-за подстановки шрифтов */
        margin: 0;
        font-weight: 600;
    }
    h2 {
        color: #2e2e2e;
        font-size: 1.125em;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 600;
        line-height: 33px;
        /* Приближение из-за подстановки шрифтов */
    }
    p {
        color: #2e2e2e;
        font-size: 0.875em;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 300;
        margin: 0;
        line-height: 17px;
    }
}
